<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pokedex</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css"
    />
  </head>
  <body>
    <h1><%=pokemon.name%></h1>
    <img src="<%=pokemon.img%>" />
    <ul>
      <h3>Type:</h3>
      <% pokemon.type.forEach((type) => { %>
      <li><%=type%></li>
      <% }) %>
    </ul>
    <ul>
      <h3>Stats:</h3>
      <li>HP: <%=pokemon.stats.hp%></li>
      <li>Attack: <%=pokemon.stats.attack%></li>
      <li>Defense: <%=pokemon.stats.defense%></li>
      <li>Speed: <%=pokemon.stats.speed%></li>
    </ul>
    <h4><a href="/pokedex">Back to Pokédex</a></h4>
  </body>
</html>
